.header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-right: 0;
    width: 100%;
    position: relative;
}

#logo{
    width: 250px;
    height: 65px;
    padding: 2px;    
}

/* ----navBar in Header---- */
.container__navBar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ----navBar in NavBar---- */
.navBar:hover{
    font-size: small;
    
}
.navBar > .navBar__li{
    float: left;
    margin-top: 10px;
    color: rgb(88, 83, 6);
    font-size: large;
    font-weight: 350;
}
.navBar__li{
    display: block;
    justify-content: center;
    align-items: center;
    padding-right: 9px;
    text-decoration: none;
}
.navBar__li:hover{
    color: rgb(88, 83, 6);
    font-weight: 500;

}
.navBar__subBar{
    display: none;
    padding: 0;
    list-style: none;
}
.deploy:hover > .navBar__subBar{
    background-color:rgba(88, 83, 6, 0.555);
    border-radius: 0 0 15px 15px ;
    display: block;
    position: absolute;
    padding: 3px;
}
.options{
    display: block;
    text-decoration: none;
    color: rgb(255, 249, 249);
}
.options:hover{
    color: rgb(255, 255, 255);
    font-weight: 700;

}
.activeLink{
    font-weight: bolder;
    color: red;
}
.hamburger{
    font-size: xx-large;
    display: none;
    background-color:rgba(41, 38, 4, 0.788) ;
    border-radius: 6px;
    color: wheat;
    padding: 8px;
}
@media(max-width:768px){
    .container__navBar{
        justify-content: start;
    }
    .navBar{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .container__navBar:hover > .navBar{
        display: block;
        float: none;
    }
    .container__navBar:hover > .hamburger{
        display: none;
    }
    .deploy:hover > .navBar__subBar{
        position: relative;
    }
}
/* ----Widget in header---- */
.container__widgets{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 0;
    
}
/* ----Widget ( Searcher, cartWidget)---- */
.search{
    display: none;
    margin: 0 1px 0 4px;
    border-radius: 8px;
    width: 80%;
    padding: 2px;
    border: 1px solid rgb(236, 236, 236);
    background-color: transparent;
    color: white;
}
.search:focus{
    border: none;
}
.search::placeholder{
    color: rgb(177, 182, 177);
}

.fa-search:hover > .search{
    display: inline-block;
}
.widget__link{
    text-decoration: none;
    color: wheat;
}
.widget__link:hover{
    color: rgb(175, 140, 76);
    
}
.widget{
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
    background-color:rgba(41, 38, 4, 0.788) ;
    padding: 4px;
    min-width: 50px;
    border-radius:  10px 0 0 10px;
}
.icon{
    font-size: large;
    margin-right: 4px;
    color:wheat;
    padding: 2px;
    transition: 0.35s;
}
.icon:hover{
    color:rgb(175, 140, 76);
}
        